/* Color Palette:
Light Shades: #EEF3EE;
Light Accent: #F7F6F8;
Main Brand Color: #16526A;
Dark Accent: #EEF3EE;
Dark Shades: #17465C;
*/
.name{
    color:#EEF3EE;
    font-family:'Times New Roman', Times, serif;
    font-size:small;
}